  <div class="sidebar">
    <div class="logo-details">
      <i class='bx bxl-c-plus-plus icon'></i>
        <div class="logo_name">HelpDesk</div>
        <i class='bx bx-menu' id="btn" ></i>
    </div>
    <ul class="nav-list">
      
      <li>
        <a href="#">
            <i class='bx bx-home'></i>
          <span class="links_name">Home</span>
        </a>
         <span class="tooltip">Home</span>
      </li>
      <li>
       <a href="#">
         <i class='bx bx-user' ></i>
         <span class="links_name">Clientes</span>
       </a>
       <span class="tooltip">Clientes</span>
     </li>
     <li>
       <a href="#">
        <i class='bx bx-id-card'></i>
         <span class="links_name">Técnicos</span>
       </a>
       <span class="tooltip">Técnicos</span>
     </li>
     <li>
       <a href="#">
        <i class='bx bxl-github'></i>
         <span class="links_name">GitHub</span>
       </a>
       <span class="tooltip">GitHub</span>
     </li>
     
     <li class="profile">
         <div class="profile-details">
           <!--<img src="profile.jpg" alt="profileImg">-->
           <div class="name_job">
             <div class="name">Usuário X</div>
             <div class="job">Administrador</div>
           </div>
         </div>
         <a href="#">
             <i class='bx bx-log-out' id="log_out" ></i>
        </a>
     </li>
    </ul>
  </div>

  <!--
  <section class="home-section">
      <div class="text">Dashboard</div>
  </section>
  -->
